shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
# @tiptap-pro:registry=https://registry.tiptap.dev/
# //registry.tiptap.dev/:_authToken=eGwNKufu+2HHG72+q4uFNQ/spTluX5iDyjN9U/owGJU=
# registry=https://registry.npm.taobao.org
registry=https://registry.npmmirror.com
